spring:
  application:
    name: prepmind

  autoconfigure:
    exclude:
      - org.springframework.ai.autoconfigure.openai.OpenAiAutoConfiguration

  datasource:
    url: jdbc:postgresql://localhost:5432/prepmind_db
    username: postgres
    password: HmH$3F34
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

server:
  port: 8080
