spring:
  application:
    name: prepmind

  datasource:
    url: jdbc:postgresql://localhost:5432/prepmind_db
    username: postgres
    password: HmH$3F34
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  ai:
    openai:
      enabled: false   # Default safe mode (mock provider will be used)

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: openai

  ai:
    openai:
      enabled: true
      api-key: ${OPENAI_API_KEY}
      model: gpt-4o-mini
