spring:
  application:
    name: prepmind

  datasource:
    url: jdbc:postgresql://localhost:5432/prepmind_db
    username: postgres
    password: HmH$3F34
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  profiles: openai
    ai:
      openai:
        api-key: ${OPENAI_API_KEY}
        model: gpt-4o-mini

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

server:
  port: 8080
